
/* ------------------------------------------------------------------
                             FLOPPY FILE
   ------------------------------------------------------------------ */

.floppy-file-box {
	overflow: hidden;
}
.floppy-file-box img {
	border: 1px solid #e2e2e2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: left;
	margin-right: 5px;
}
.floppy-file-box .stop {
	color: #cd0808;
	cursor: pointer;
	font-size: 19px;
}
.floppy-file-box .stop:hover {
	color: #930808;
}

/* Buttons */
.floppy-file-box button {
    display: inline-block;
    padding: 7px 12px 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
    color: #A1988E;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dcd9d5;
    border-color: #e2e2e2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-width: 85px;
}
.floppy-file-box .primary {
	background-color: #0964A5;
    border-color: #0964A5;
	color: #fff;
}

.floppy-file-box .delete {
	margin-bottom: 7px;
}

.floppy-file-box .button-holder {
    float: left;
}

/* Progress bar*/
.floppy-file-box .floppy-uploading {
	margin-top: 10px;
}
.floppy-uploading .floppy-file-progress-holder {
    border: 1px solid #E2E2E2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    float: left;
    height: 20px;
    margin-right: 5px;
    padding: 3px;
    width: 165px;
}
.floppy-uploading .floppy-file-progress-holder .bar {
	background-color: #0964A5; 
	height: 100%; 
	width: 0px; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/* Errors */
.floppy-file-box .error-message {
	color: #cd0808;
}